body, html{
  line-height: 1;
  font-family: 'PingFang-SC-Medium';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: #fff;
  color: #333;
  height: 100%;
  width: 100%;
  font-size: 12px;
}

i{
  font-style: normal;
}

a{
  text-decoration: none;
}

// 定义hover时背景颜色改变
.hover-effect {
cursor: pointer;
transition: background .3s;
  &:hover {
    background: rgba(0, 0, 0, .025)
  }
}
