// 定义左侧侧边栏展开的宽度(这个文件的注释不能写在代码块后面, 否则会导致reset.styl引入失败)
$sideBarWidth = 210px;

//sidebar
$menuText = #bfcbd9;
$menuActiveText = #409EFF;
$subMenuActiveText = #f4f4f5;
$menuBg = #304156;
$menuHover = #263445;

$subMenuBg = #1f2d3d;
$subMenuHover = #001528;
