@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;
@use 'mixins/function' as *;

@include b(footer){
    @include set-component-css-var('footer',$footer);

    height: getCssVar('footer-height');
    padding: getCssVar('footer-padding');
    box-sizing: border-box;
    flex-shrink: 0;
}